
<h1>Success</h1>

<%= form_for @photo, :url => upload_select_column_photo_path(@photo), :method => :post do |f| %>

<%= label_tag("First Name")%>
<%=  select_tag("name", options_for_select(@title_columns)) %>
<%= label_tag("Last Name")%>
<%=  select_tag("last_name", options_for_select(@title_columns)) %>
<%= label_tag("Age")%>
<%=  select_tag("age", options_for_select(@title_columns)) %>
  <%= f.submit "Save" %>

<% end %>