
<h1>Success</h1>

<%= form_tag('/people/upload_select_column') %>
<%= label_tag("First Name")%>
<%=  select_tag("name", options_for_select(@title_columns)) %>
<%= label_tag("Last Name")%>
<%=  select_tag("last_name", options_for_select(@title_columns)) %>
<%= label_tag("Age")%>
<%=  select_tag("age", options_for_select(@title_columns)) %>
  <%= submit_tag "Save" %>


