<!DOCTYPE html>
<html>
<head>
  <title>ExcelTestApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "load_from_excel", load_from_excel_people_path %> |
<%= link_to "upload", upload_people_path%> |
<%= link_to "Upload Many People", save_many_people_people_path %> |
<%= link_to "people", people_path%> |
<%= link_to "Load from excel with select column",  load_from_excel_select_column_people_path %> |
<%= link_to "Upload ajax", upload_ajax_people_path%>  |
<%= link_to "Delayed Job", delayed_job_people_path%>

<% unless flash[:notice].nil? %>    
      <%= flash[:notice] %>
  <% end %>

<%= yield %>

</body>
</html>
